---
import iconPlus from "@assets/iconPlus.svg";
const {  } = Astro.props
---

<button>
  <a href="#"
    >Ver más <img
      src={iconPlus.src}
      width="16"
      height="16"
      alt="icon plus"
    /></a
  >
</button>

<style>
  button {
    border-radius: 0px 30px 0px 30px;
    padding: 16px 20px;
    background-color: var(--color-accent);
    border: none;

    & a {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
    }
  }
</style>
