---
import iconPlus from "@assets/iconPlus.svg";
const { buttonText } = Astro.props
---

<button>
  <a href="#"
  >{buttonText}
    <span>
      <svg fill="none" viewBox="0 0 18 18"><path fill="currentColor" d="M8.25 17.5V9.75H.5v-1.5h7.75V.5h1.5v7.75h7.75v1.5H9.75v7.75h-1.5Z"/></svg>
    </span>
    </a>
</button>

<style>
  button {
    border-radius: 0px 30px 0px 30px;
    padding: 16px 20px;
    background-color: var(--color-base);
    inline-size: fit-content;
    border: none;
    transition: all ease-in-out 60ms;

    & a {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;

      span {
        inline-size: 1rem;
        block-size: 1rem;
        
      }
    }

    &:hover {
      color: var(--color-base);
      background-color: var(--color-contrast-2);
    }
  }
</style>
