---
import Button from "@components/Button.astro";

const {id, title, description, buttonText } = Astro.props
---

<div id={id}>
  <h3>{title}</h3>
  <p>{description}</p>
  <Button buttonText={buttonText}/>
</div> 


<style>
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50px 0px 50px 0px;
    padding: 2rem;
    background-color: var(--color-accent);
    min-block-size: 280px;

    & h3 {
      font-size: 30px;
      color: var(--color-base);
    }

    & p {
      font: 1rem;
      color: var(--color-base)
    }
  }
</style>