---
const { number } = Astro.props;
---

<div class="item-counter">
   <div id="counter">0</div>
</div>

<style>
  .item-counter {
    position: relative;
    display: flex;
    border: solid 2rem var(--color-base);
    border-radius: 30px 0px 30px 0px;
    flex: 1;
    aspect-ratio: 1/1;
    ;

    div {
      position: absolute;
      font-family: 'Unbounded Variable';
      left: -20px;
      bottom: 0;
      font-size: 18vw;
      color: var(--color-base);
    }    
  }
</style>


<script define:vars={{ number }}>
  const el = document.getElementById('counter');
  const final = Number(number);
  let current = 0;

  const duration = 1500;
  const stepTime = 16;
  const steps = Math.floor(duration / stepTime);
  const increment = final / steps;

  const startCounter = () => {
    const timer = setInterval(() => {
      current += increment;
      if (current >= final) {
        current = final;
        clearInterval(timer);
      }
      el.textContent = Math.round(current).toString();
    }, stepTime);
  };

  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        startCounter();
        observer.unobserve(entry.target); // Solo se activa una vez
      }
    });
  });

  observer.observe(el);
</script>