---
interface ServiceData {
  id: string;
  title: string;
  description: string;
  char?: string;

}
const { id, title, description } =  Astro.props as ServiceData;
---

<div 
  id={id}
  class="service"
>
  <h3  class="split">{title}</h3>
  <p>{description}</p>

</div> 




<style>
  .service {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .9rem;
    padding: clamp(0.01rem, -0.524rem + 2.67vw, 2rem);
    
   

    > h3 {
      font-size: var(--fontSize-x-large);
      color: var(--color-contrast-2);
      max-inline-size: 16ch;
      margin-block-end: 2rem;
     
    }

    > p {
      font-size: var(--fontSize-medium);
      color: var(--color-contrast-2);
      font-weight: 100;
      max-inline-size: 24ch;
    }
  }

  
  .part-side-block--right {}
</style>