---
interface ServiceData {
  id: string;
  title: string;
  description: string;
  char?: string;

}
const { id, title, description, char } =  Astro.props as ServiceData;
---

<article 
  id={id}
  class="service inner"
>
  <h3  class="split">{title}</h3>
  <p>{description}</p>

</article> 

<aside class="part-side-block">
  <img class="chars" src={char} />
</aside>


<style>
  .service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .9rem;
    padding: 2rem;
    
   

    > h3 {
      font-size: var(--fontSize-x-large);
      color: var(--color-contrast-2);
      max-inline-size: 16ch;
      margin-block-end: 2rem;
     
    }

    > p {
      font-size: var(--fontSize-medium);
      color: var(--color-contrast-2);
      font-weight: 100;
      max-inline-size: 24ch;
    }
  }

  .part-side-block {
    position: absolute;
    display: flex;
    top: 0;
    right: -6em;
    min-block-size: 100%;
  

    .chars {
      flex: 1;
      min-inline-size: 100%;
      object-fit: contain;
    }
  }

  .part-side-block--right {}
</style>