---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getAllSlugPosts, getInfoPost } from "@/libs/wp";

export async function getStaticPaths() {
  const slugs = await getAllSlugPosts();
  return slugs.map((slug: string) => ({
    params: { slug },
  }));
}

const { slug } = Astro.params;

const post = await getInfoPost(slug);
if (!post) {
  return Astro.redirect("/404");
}
---

<BaseLayout pageTitle={post.titlePost}>
  <article>
    <h1>{post.titlePost}</h1>
    <div set:html={post.contentPost} />
  </article>
</BaseLayout>
