---
const { number } = Astro.props;
---

<div class="item-counter">
   <span id="counter">0</span>
</div>

<style>
  .item-counter {
   
    display: flex;
    justify-content: flex-end;
    border: solid clamp(1rem, 0.597rem + 2.01vw, 2rem) var(--color-base);
    border-radius: 30px 0px 30px 0px;
    flex: 1;
    aspect-ratio: 1/1;
    min-width: 17rem;
    ;

    span {
      font-family: 'Unbounded Variable';
      font-size: clamp(8.5rem, 7.429rem + 6vw, 16rem);
      color: var(--color-base);
      inline-size: clamp(14.25rem, 12.429rem + 9.11vw, 27rem);
      margin: 7rem 7rem -4rem -1rem;
    }    
  }

  @media (width <= 1024px ) {
    .item-counter span {
      font-size: clamp(8.5rem, 7.429rem + 6vw, 16rem);
      inline-size: clamp(8.25rem, 10rem + 14vw, 27rem);
      margin: 7rem 7rem -3rem -1rem;
    }  
  }

   @media (width < 640px ) {
    .item-counter span {
      font-size: clamp(8.5rem, 5.429rem + 6vw, 16rem);
      inline-size: clamp(8.25rem, 10rem + -3vw, 27rem);
      margin: 7rem 7rem -2rem -1rem;
    }  
  }


</style>


<script define:vars={{ number }}>
  const el = document.getElementById('counter');
  const final = Number(number);
  let current = 0;

  const duration = 1500;
  const stepTime = 16;
  const steps = Math.floor(duration / stepTime);
  const increment = final / steps;

  const startCounter = () => {
    const timer = setInterval(() => {
      current += increment;
      if (current >= final) {
        current = final;
        clearInterval(timer);
      }
      el.textContent = Math.round(current).toString();
    }, stepTime);
  };

  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        startCounter();
        observer.unobserve(entry.target); // Solo se activa una vez
      }
    });
  });

  observer.observe(el);
</script>