---
export interface Props {
  pageTitle: string;
   slug?: string;
}
import Navigation from "@/components/Navigation.astro";
import "@styles/global-styles.css";
const { pageTitle } = Astro.props;


---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
</html>

<style>
  body {
    background-color: var(--color-base);
  }
</style>
