---
export interface Props {
  pageTitle: string;
  slug?: string;
}
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/sections/Footer.astro";

import "@styles/global-styles.css";

const { pageTitle, slug } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation isEU={slug === "oportunidades-europeas"} />
    <slot />
    <Footer/>
    <script src="/src/libs/animation/splitText.js"></script>
    <script
      src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.5/dist/dotlottie-wc.js"
      type="module">
    </script>
  </body>
</html>

<style>
  body {
    background-color: var(--color-base);
  }
</style>
