---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";

export interface Props {
  lang: 'es' | 'en';
  pageTitle: string;
  heroTitle?: string;
  heroDescription?: string;
  dotHero?: string;
  slug?: string;
}


const { 
  lang,
  pageTitle = "", 
  heroTitle = "", 
  heroDescription = "", 
  dotHero = "",
  slug,
} = Astro.props;
---

<BaseLayout pageTitle={ pageTitle } slug={ slug } lang={ lang } >
  <Hero 
    titleHero={heroTitle} 
    descriptionHero={heroDescription}
    dotHero={dotHero}
    isContact={ slug === 'contacto' || slug === 'contact' } 
    isEU={ slug === 'oportunidades-europeas' || slug === 'european-opportunities'}
  /> 
  <div class="over">
  <slot name="que-hacemos" />
  <slot name="quienes-somos" />
  <slot name="oportunidades-europeas"/>
  <slot name="aviso-legal"/>
  <slot name="politica-privacidad"/>
  <slot name="politica-cookies"/>
</div>
</BaseLayout>


<style>
  .over {
    overflow: hidden;
  }
</style>