---
const { titleCounter } = Astro.props
---
<article>
  <svg
    class="bg"
    fill="none"
    viewBox="0 0 1440 838"
    preserveAspectRatio="none"
  >
    <path fill="currentColor" d="M0 0h1440v800L0 838V0Z" />
  </svg>
  <div>contador</div>
  <div>
    <h2>{titleCounter}</h2>
  </div>
  
</article>

<style>

  article {
    position: relative;
    display: flex;
    padding: var(--space-block) var(--space-inline);
    margin-block-start: var(--space-block);
  }

  h2 {
    font-size: var(--fontSize-x-large);
    color: var(--color-base);
    text-wrap: balance;
  }

  .bg {
    position: absolute;
    inset: 0;               
    width: 100%;
    height: 100%;
    z-index: -1;            
    pointer-events: none;   
    color: var(--color-contrast-2);
  }
</style>