---
const { titleHero, descriptionHero } = Astro.props 
---
<section>
  <svg
    class:list={["bg", "bg--color-base"]}
    fill="none"
    viewBox="0 0 1440 838"
    preserveAspectRatio="none"
  >
    <path fill="currentColor" d="M0 0h1440v800L0 838V0Z" />
  </svg>
  <header class="inner">
    <h1 class="split">{ titleHero }</h1>
    {descriptionHero && <p class="split">{descriptionHero}</p>}
  </header>
  
  
</section>

<style>
  section {
    position: relative;      
    display: flex;
    align-items: center;
    color: var(--color-base);
    block-size: 90dvh;
    overflow: hidden;  
    
    h1 {
      font-size: var(--fontSize-xx-large);
      text-wrap: balance;
      max-inline-size: 16ch;
      margin-block-end: 2rem;
    }

    p {
      font-size: var(--fontSize-medium);
    }
  }

  .bg {
    position: absolute;
    inset: 0;               
    width: 100%;
    height: 100%;
    z-index: -1;            
    pointer-events: none;   
    color: var(--color-accent);
  }

 /*  .bg--color-base {
    position: absolute;
    inset: 0;               
    width: 100%;
    height: 100%;
    z-index: -1;            
    pointer-events: none;   
    color: var(--color-base);
  } */
</style>
