<article>
  <h2>No traemos fuego de fuera. 
Lo cultivamos desde dentro.</h2>
</article>

<style>

  article {
    padding: var(--space-block) var(--space-inline);
  }

  h2 {
    font-size: var(--fontSize-x-large);
    color: var(--color-contrast-2);
    text-wrap: balance;
  }
</style>