---
const { titleIntro, description } = Astro.props
---
<article>
  <header class="inner">
    <h2>{titleIntro}</h2>
    { description && <p>{description}</p> } 
  </header>
  
</article>

<style>

  article {
    padding-block-start: var(--space-block);
  }

  h2 {
    font-size: var(--fontSize-x-large);
    color: var(--color-contrast-2);
    text-wrap: balance;
    max-inline-size: 16ch;
  } 
</style>