@font-face {
  font-family: 'Unbounded Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/unbounded:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer reset {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }

  :root {
    --a11y-font-scale: 1;

    --color-base: #ECECE3;
    --color-accent: #F28729;
    --color-accent-2: #034EA2;
    --color-contrast-1: #D93D04;
    --color-contrast-2: #712B2B;


    --fontSize-xx-large: clamp(2.75rem, 2.314rem + 2.18vw, 4.375rem);
    --fontSize-x-large: clamp(1.813rem, 1.561rem + 1.26vw, 2.75rem);
    --fontSize-large: clamp(1.438rem, 1.337rem + 0.5vw, 1.813rem);
    --fontSize-medium: clamp(0.938rem, 0.887rem + 0.25vw, 1.125rem);

    --space-inline: clamp(1.25rem, -0.931rem + 10.91vw, 9.375rem);
    --space-block: clamp(5rem, 3.826rem + 5.87vw, 9.375rem);
  }

  html {
    /* Esto hace la magia: al cambiar la variable, todo lo que use 'rem' cambia de tamaño */
    font-size: calc(100% * var(--a11y-font-scale));
  }

  /* --- CLASES DE ACCESIBILIDAD --- */

  /* 1. Alto Contraste */
  body.a11y-high-contrast {
    background-color: #000 !important;
    color: #fff !important;
  }

  body.a11y-high-contrast * {
    background-color: #000 !important;
    color: #ff0 !important;
    /* Amarillo sobre negro es el mejor contraste */
    border-color: #fff !important;
  }

  body.a11y-high-contrast img {
    filter: grayscale(100%) contrast(120%);
  }

  /* 2. Enlaces Subrayados */
  body.a11y-links-underline a {
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;
  }

  /* 3. Fuente Legible (Opcional, cambia a fuentes de sistema sans-serif) */
  body.a11y-readable-font * {
    font-family: Arial, Helvetica, sans-serif !important;
    letter-spacing: 0.05em !important;
    line-height: 1.6 !important;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  li,
  a,
  button {
    font-family: 'Unbounded Variable', sans-serif;
    font-weight: 400;
    color: inherit;
    white-space: pre-line;
  }

  span>p {
    line-height: 1.6;
    font-weight: 300 !important;

  }
}

.inner {
  inline-size: calc(100% - 18rem * (1 / 1));
  max-inline-size: calc(100rem - 18rem * (1 / 1));
  margin: auto;


}


@layer html-content {

  .s-html-content {
    padding-block: var(--space-block);

    >.setContent {
      color: var(--color-contrast-2);
      white-space: pre-line;
    }

  }
}

@media (width < 480px) {
  .inner {
    inline-size: calc(100% - 18rem * (1 / 6));
  }
}