---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout
  pageTitle="404"
  slug={ "404" }
>
<section class="inner">
  <h1>UPPPPSSS</h1>
  <p>404</p>   
</section>
</BaseLayout>

<style>
  section {
     display: grid;
     place-content: center;
     min-block-size: 65dvh;
     color: var(--color-contrast-2);    

  }
</style>